<div class="app-home">
    <h1 class="motto">The Fastest Angular on the Web</h1>
    <div class="home-words">
      <p>
        Fast and secure sites and apps delivered by pre-rendering files and
        serving them directly from a CDN, removing the requirement to manage or
        run web servers.
      </p>
    </div>
</div>
<div class="home-box">
  <div class="home-card">
    <h1 class="home-card-header">Festive</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dmhfnrxkp/image/upload/v1627190787/morgan-sessions-YIN4xUBaqnk-unsplash_awmv1q.jpg"
      alt="morgan session"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with pre-rendering and global delivery.
    </p>
  </div>
  <div class="home-card">
    <h1 class="home-card-header">Fast</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dmhfnrxkp/image/upload/v1627190787/joe-caione-qO-PIF84Vxg-unsplash_w40o1z.jpg"
      alt="joe caione"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with pre-rendering and global delivery.
    </p>
  </div>
  <div class="home-card">
    <h1 class="home-card-header">Happy</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dmhfnrxkp/image/upload/v1627190787/robert-collins-lP_FbBkMn1c-unsplash_xeyabn.jpg"
      alt="robert collins"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with pre-rendering and global delivery.
    </p>
  </div>
  <div class="home-card">
    <h1 class="home-card-header">Love</h1>
    <img
      class="home-card-image"
      src="https://res.cloudinary.com/dmhfnrxkp/image/upload/v1627190787/nick-fewings-WqO0As9Od8U-unsplash_htejg9.jpg"
      alt="nick fewings"
    />
    <p class="home-card-content">
      <b>Faster websites.</b>
      Optimize your site with pre-rendering and global delivery.
    </p>
  </div>
</div>
